# Questions

- Heros and villains by creators
    - Number of heros and villains by creators
    - Show only if there are more villains than heros
    - Show information about these villains
- Power by heros and villains
    - Power of the most powerful hero, villain and neutral
    - Who are they?
- Superpowers
    - Number of superpowers in heros, villains and neutrals
    - Type of prefered powers by heros, villains and neutrals
    - Groups of types of prefered powers
- Sex and races
    - Alignment
    - Power
    - Superpowers

# Libraries

In [1]:
import pandas as pd
import pymysql
from getpass import getpass
import sqlalchemy as alch

# MySQL connection

In [2]:
df = pd.read_csv("../data/heros.csv")

In [3]:
password = getpass()

········

In [4]:
dbName = "heros_mysql"

In [5]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [6]:
engine = alch.create_engine(connectionData)

In [7]:
df.to_sql("heros", if_exists="replace", con=engine, index=False)

1017

# Questions

## Heros and villains by creators

### Number of heros and villains by creators

In [8]:
query = '''
SELECT
    COUNT(CASE WHEN alignment = "Good" THEN 1 END) AS number_heros,
    COUNT(CASE WHEN alignment = "Bad" THEN 1 END) AS number_villains,
    creator
FROM heros
GROUP BY creator
ORDER BY number_heros DESC, number_villains DESC;
'''

In [9]:
pd.read_sql_query(query, engine).head(10)

   number_heros  number_villains            creator
0           263              137      Marvel Comics
1           167              104          DC Comics
2            49               36               None
3            17                8  Dark Horse Comics
4            16                5           Shueisha
5            12                2       NBC - Heroes
6             9                3               Lego
7             9                0            Ubisoft
8             7                4       George Lucas
9             5                7       Image Comics

In [10]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/creators_hero_villain.csv")

### Show only if there are more villains than heros

In [11]:
query = '''
SELECT
    COUNT(CASE WHEN alignment = "Good" THEN 1 END) AS number_heros,
    COUNT(CASE WHEN alignment = "Bad" THEN 1 END) AS number_villains,
    creator
FROM heros
GROUP BY creator
HAVING number_villains > number_heros
ORDER BY number_heros DESC, number_villains DESC;
'''

In [12]:
pd.read_sql_query(query, engine)

   number_heros  number_villains        creator
0             5                7   Image Comics
1             1                2         Hasbro
2             0                1         Konami
3             0                1   Stephen King
4             0                1  Mortal Kombat
5             0                1         Mattel

In [13]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/creators_villains.csv")

### Show information about these villains

In [14]:
query = '''
WITH race_table AS
    (SELECT
        name, real_name, creator, gender, alignment,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros)
SELECT
    name, real_name, race_table.creator, gender, race
FROM race_table
    JOIN
        (SELECT
            creator,
            COUNT(CASE WHEN alignment = 'Good' THEN 1 END) AS number_heros,
            COUNT(CASE WHEN alignment = 'Bad' THEN 1 END) AS number_villains
        FROM heros
        GROUP BY creator
        HAVING number_villains > number_heros) AS subquery
        
        ON race_table.creator = subquery.creator
        
WHERE race_table.alignment = 'Bad';
'''

In [15]:
pd.read_sql_query(query, engine)

,name,real_name,creator,gender,race
0,Redeemer III,Eddie Frank,Image Comics,Male,not-human
1,Redeemer II,Phil Timper,Image Comics,Male,not-human
2,Overtkill,Nicholas Rocca,Image Comics,Male,not-human
3,Curse,Phillip Krahn,Image Comics,Male,not-human
4,Cogliostro,Cain,Image Comics,Male,not-human
5,Billy Kincaid,Billy Kincaid,Image Comics,Male,not-human
6,Anti-Spawn,The Redeemer,Image Comics,Male,not-human
7,Unicron,Unicron,Hasbro,Male,not-human
8,Soundwave,Soundwave,Hasbro,Male,not-human
9,Dracula,Vlad Tepes Dracula,Konami,Male,not-human
10,IT,Pennywise the Dancing Clown,Stephen King,Male,not-human
11,Shao Kahn,Shao Kahn,Mortal Kombat,Male,not-human
12,Skeletor,Keldor,Mattel,Male,not-human

In [16]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/creators_villains_charact.csv")

## Power by heros and villains

In [17]:
query = '''
SELECT
    AVG(overall_score) AS mean_power,
    alignment
FROM heros
GROUP BY alignment
ORDER BY mean_power DESC;
'''

In [18]:
pd.read_sql_query(query, engine)

     mean_power alignment
0  4.347842e+06   Neutral
1  1.086969e+06      Good
2  6.734178e+05       Bad

In [19]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/mean_power_alignment.csv")

### Most powerful hero, villain and neutral

In [20]:
query = '''
SELECT
    MAX(overall_score) AS max_power,
    alignment
FROM heros
GROUP BY alignment;
'''

In [21]:
pd.read_sql_query(query, engine) # The most powerful of them have infinite power

     max_power alignment
0  100000000.0      Good
1  100000000.0       Bad
2  100000000.0   Neutral

In [22]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/max_power_alignment.csv")

### Who are they?

In [23]:
query = '''
WITH cte AS
    (SELECT MAX(overall_score) AS max_power, alignment,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros
    GROUP BY alignment, race)
SELECT DISTINCT heros.alignment, name, real_name, gender, race, overall_score AS power
FROM heros
    JOIN cte
        ON heros.overall_score = cte.max_power AND heros.alignment = cte.alignment
ORDER BY race, alignment;
'''

In [24]:
pd.read_sql_query(query, engine)
# The most strong human is a good male.
# Only two villains have infinite power, while 6 heros and 4 neutrals have infinite power.
# Amongst the most powerful there are 6 males, 2 females and 4 nan (some of them are correctly NaN).

,alignment,name,real_name,gender,race,power
0,Bad,Darth Nox,Remowa Alucard,Female,human,73.0
1,Good,Dr Manhattan,Jonathan Osterman,Male,human,124.0
2,Neutral,Red Hulk (Ghost Rider) (Venom),Thaddeus Ross,Male,human,35.0
3,Bad,Abraxas,Abraxas,Male,not-human,100000000.0
4,Bad,Golden Master's Mech,Overlord,Male,not-human,100000000.0
5,Good,Black Alice,Lori Zechlin,None,not-human,100000000.0
6,Good,Eru Iluvatar,Eru,Male,not-human,100000000.0
7,Good,Life Entity,The Life Entity,None,not-human,100000000.0
8,Good,Little Krishna,Krishna,Male,not-human,100000000.0
9,Good,The Beyonder (Earth-1298),Beyonder,Male,not-human,100000000.0
10,Good,The Lord Of Light,R'hllor,None,not-human,100000000.0
11,Neutral,Death Of The Endless,Death,Female,not-human,100000000.0
12,Neutral,Man Of Miracles,Mother Of Existence,Female,not-human,100000000.0
13,Neutral,Michael Demiurgos,Michael Demiurgos,Male,not-human,100000000.0
14,Neutral,True Form Oblivion,Oblivion,None,not-human,100000000.0

In [25]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/most_powerful.csv")

## Superpowers

### Number of superpowers

In [26]:
query = '''
SELECT
    alignment,
    AVG(n_superpowers) AS superpowers
FROM heros
GROUP BY alignment;
'''

In [27]:
pd.read_sql_query(query, engine)

  alignment  superpowers
0      Good     9.124780
1       Bad     9.964744
2   Neutral    14.406593

In [28]:
# Export the result as csv files
pd.read_sql_query(query, engine).to_csv("../data/queries_results/n_super_alignment.csv")

### Type of prefered powers

In [29]:
query = '''
SELECT alignment,
AVG(has_electrokinesis) AS electro, AVG(has_energy_constructs) AS energy_constructs, AVG(has_energy_beams) AS beams,
AVG(has_energy_blasts) AS energy_blasts, AVG(has_energy_manipulation) AS energy_manip, AVG(has_energy_absorption) AS energy_absorption,
AVG(has_reality_warping) AS reality, AVG(has_illusions) AS illusions, AVG(has_magic) AS magic,
AVG(has_force_fields) AS force_fields, AVG(has_mind_control) AS mind, AVG(has_mind_control_resistance) AS mind_resist,
AVG(has_telepathy) AS telepathy, AVG(has_telepathy_resistance) AS telepathy_resist, AVG(has_matter_manipulation) AS matter,
AVG(has_element_control) AS element, AVG(has_size_changing) AS size, AVG(has_shapeshifting) AS shape,
AVG(has_telekinesis) AS telekinesis, AVG(has_teleportation) AS teleport, AVG(has_dimensional_travel) AS travel,
AVG(has_peak_human_condition) AS peak, AVG(has_immortality) AS immortality, AVG(has_longevity) AS longevity,
AVG(has_invulnerability) AS invulnerable, AVG(has_enhanced_senses) AS senses, AVG(has_enhanced_hearing) AS hearing,
AVG(has_jump) AS jump, AVG(has_flight) AS flight, AVG(has_endurance) AS endurance, AVG(has_durability) AS durability,
AVG(has_stamina) AS stamina, AVG(has_dexterity) AS dexterity, AVG(has_agility) AS agility, AVG(has_stealth) AS stealth,
AVG(has_reflexes) AS reflexes, AVG(has_super_speed) AS speed, AVG(has_super_strength) AS strength,
AVG(has_weapon_based_powers) AS weapon, AVG(has_marksmanship) AS aim, AVG(has_weapons_master) AS weapon_master,
AVG(has_intelligence) AS intelligent, AVG(has_heat_resistance) AS heat_resist, AVG(has_fire_resistance) AS fire_resist,
AVG(has_fire_control) AS fire, AVG(has_cold_resistance) AS cold_resist, AVG(has_toxin_and_disease_resistance) AS disease_resist,
AVG(has_regeneration) AS regeneration, AVG(has_accelerated_healing) AS healling, AVG(has_self_sustenance) AS sustenance
FROM heros
GROUP BY alignment;
'''

In [30]:
pd.read_sql_query(query, engine) # Not very readible

,alignment,electro,energy_constructs,beams,energy_blasts,energy_manip,energy_absorption,reality,illusions,magic,...,weapon_master,intelligent,heat_resist,fire_resist,fire,cold_resist,disease_resist,regeneration,healling,sustenance
0,Good,0.075571,0.079086,0.082601,0.214411,0.140598,0.105448,0.033392,0.073814,0.094903,...,0.363796,0.398946,0.126538,0.100176,0.094903,0.123023,0.101933,0.096661,0.281195,0.086116
1,Bad,0.092949,0.067308,0.115385,0.227564,0.131410,0.150641,0.070513,0.099359,0.115385,...,0.387821,0.477564,0.147436,0.115385,0.089744,0.144231,0.150641,0.163462,0.278846,0.144231
2,Neutral,0.098901,0.120879,0.098901,0.186813,0.175824,0.142857,0.098901,0.197802,0.175824,...,0.582418,0.571429,0.197802,0.087912,0.065934,0.175824,0.230769,0.307692,0.417582,0.263736

In [31]:
superpowers = pd.read_sql_query(query, engine).transpose()
superpowers.columns = superpowers.iloc[0]
superpowers = superpowers[1:]
superpowers.reset_index(inplace=True)

In [32]:
superpowers.sort_values("Good", ascending=False).head(1)

alignment    index      Good       Bad  Neutral
33         agility  0.560633  0.483974  0.78022

In [33]:
superpowers.sort_values("Bad", ascending=False).head(1)

alignment     index      Good       Bad   Neutral
37         strength  0.479789  0.567308  0.615385

In [34]:
superpowers.sort_values("Neutral", ascending=False).head(1)

alignment    index      Good       Bad  Neutral
33         agility  0.560633  0.483974  0.78022

In [35]:
# Now with sql
superpowers.to_sql("superpowers", if_exists="replace", con=engine, index=False)

50

In [36]:
query = '''
WITH max AS
    (SELECT MAX(Good) AS max_good FROM superpowers)
SELECT
    superpowers.index, superpowers.Good
FROM superpowers
    JOIN max
        ON superpowers.Good = max.max_good;
'''

In [37]:
super_good = pd.read_sql_query(query, engine)

In [38]:
super_good

     index      Good
0  agility  0.560633

In [39]:
query = '''
WITH max AS
    (SELECT MAX(Bad) AS max_bad FROM superpowers)
SELECT
    superpowers.index, superpowers.Bad
FROM superpowers
    JOIN max
        ON superpowers.Bad = max.max_bad;
'''

In [40]:
super_bad = pd.read_sql_query(query, engine)

In [41]:
super_bad

      index       Bad
0  strength  0.567308

In [42]:
query = '''
WITH max AS
    (SELECT MAX(Neutral) AS max_neutral FROM superpowers)
SELECT
    superpowers.index, superpowers.Neutral
FROM superpowers
    JOIN max
        ON superpowers.Neutral = max.max_neutral;
'''

In [43]:
super_neutral = pd.read_sql_query(query, engine)

In [44]:
super_neutral

     index  Neutral
0  agility  0.78022

In [45]:
prefered_sup = super_good.merge(super_bad.merge(super_neutral, how="outer"), how = "outer")
prefered_sup.set_index("index", inplace=True)
prefered_sup

              Good       Bad  Neutral
index
agility   0.560633       NaN  0.78022
strength       NaN  0.567308      NaN

In [46]:
# Export the result as csv files
prefered_sup.to_csv("../data/queries_results/prefered_sup.csv")

### Groups of types of prefered powers

In [47]:
query = '''
SELECT
    alignment,
    AVG(energy_powers), AVG(matter_powers), AVG(self_powers), AVG(reality_powers), AVG(mind_powers), AVG(resistance_powers),
    AVG(invulnerability), AVG(supersenses), AVG(stamina), AVG(capabilities), AVG(jump_flight), AVG(stealth), AVG(weapons), AVG(speed),
    AVG(strength)
FROM heros
GROUP BY alignment;
'''

In [48]:
pd.read_sql_query(query, engine)

,alignment,AVG(energy_powers),AVG(matter_powers),AVG(self_powers),AVG(reality_powers),AVG(mind_powers),AVG(resistance_powers),AVG(invulnerability),AVG(supersenses),AVG(stamina),AVG(capabilities),AVG(jump_flight),AVG(stealth),AVG(weapons),AVG(speed),AVG(strength)
0,Good,0.834798,0.330404,0.277680,0.261863,0.599297,0.581722,1.121265,0.332162,1.196837,1.428822,0.405975,0.325132,0.588752,0.360281,0.479789
1,Bad,0.910256,0.384615,0.403846,0.384615,0.737179,0.708333,1.403846,0.320513,1.243590,1.237179,0.387821,0.275641,0.650641,0.349359,0.567308
2,Neutral,0.989011,0.373626,0.527473,0.593407,0.780220,0.923077,2.318681,0.692308,1.758242,2.252747,0.538462,0.516484,1.000000,0.527473,0.615385

In [49]:
groups_superpowers = pd.read_sql_query(query, engine).transpose()
groups_superpowers.columns = groups_superpowers.iloc[0]
groups_superpowers = groups_superpowers[1:]
groups_superpowers.reset_index(inplace=True)
groups_superpowers = groups_superpowers.rename_axis(columns={'alignment': ''})
groups_superpowers.rename(columns={"index":"group_sup"}, inplace=True)
groups_superpowers

                 group_sup      Good       Bad   Neutral
0       AVG(energy_powers)  0.834798  0.910256  0.989011
1       AVG(matter_powers)  0.330404  0.384615  0.373626
2         AVG(self_powers)   0.27768  0.403846  0.527473
3      AVG(reality_powers)  0.261863  0.384615  0.593407
4         AVG(mind_powers)  0.599297  0.737179   0.78022
5   AVG(resistance_powers)  0.581722  0.708333  0.923077
6     AVG(invulnerability)  1.121265  1.403846  2.318681
7         AVG(supersenses)  0.332162  0.320513  0.692308
8             AVG(stamina)  1.196837   1.24359  1.758242
9        AVG(capabilities)  1.428822  1.237179  2.252747
10        AVG(jump_flight)  0.405975  0.387821  0.538462
11            AVG(stealth)  0.325132  0.275641  0.516484
12            AVG(weapons)  0.588752  0.650641       1.0
13              AVG(speed)  0.360281  0.349359  0.527473
14           AVG(strength)  0.479789  0.567308  0.615385

In [50]:
# Export the result as csv files
groups_superpowers.to_csv("../data/queries_results/prefered_groups_sup.csv")

## Sex and races

In [51]:
df.to_sql("heros", if_exists="replace", con=engine, index=False)

1017

### Alignment

In [52]:
query = '''
WITH race_table AS
    (SELECT alignment, creator,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros)
SELECT race,
    SUM(CASE WHEN alignment = 'Good' THEN 1 END)/COUNT(*) AS good_prop,
    SUM(CASE WHEN alignment = 'Neutral' THEN 1 END)/COUNT(*) AS neutral_prop,
    SUM(CASE WHEN alignment = 'Bad' THEN 1 END)/COUNT(*) AS bad_prop
FROM race_table
GROUP BY race;
'''

In [53]:
pd.read_sql_query(query, engine) # Humans are heros in a bigger proportion than not-humans

        race  good_prop  neutral_prop  bad_prop
0      human     0.6117        0.0922    0.2961
1  not-human     0.5818        0.0893    0.3289

In [54]:
query = '''
WITH race_table AS
    (SELECT alignment, creator, gender,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros)
SELECT race, gender,
    SUM(CASE WHEN alignment = 'Good' THEN 1 END)/COUNT(*) AS good_prop,
    SUM(CASE WHEN alignment = 'Neutral' THEN 1 END)/COUNT(*) AS neutral_prop,
    SUM(CASE WHEN alignment = 'Bad' THEN 1 END)/COUNT(*) AS bad_prop
FROM race_table
GROUP BY race, gender
ORDER BY gender;
'''

In [55]:
pd.read_sql_query(query, engine) # Females tend to be heros, human and not-human, in a bigger proportion than males

        race  gender  good_prop  neutral_prop  bad_prop
0      human    None     0.6250        0.1250    0.2500
1  not-human    None     0.6406        0.0938    0.2656
2  not-human  Female     0.7059        0.0915    0.2026
3      human  Female     0.6768        0.1212    0.2020
4      human    Male     0.5902        0.0820    0.3279
5  not-human    Male     0.5232        0.0876    0.3892

In [56]:
# Export the result as csv files
pd.read_sql_query(query, engine) .to_csv("../data/queries_results/sex_race_alignment.csv")

### Power

In [57]:
query = '''
WITH race_table AS
    (SELECT overall_score, alignment,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros)
SELECT
    race, alignment, AVG(overall_score) AS mean_power
FROM race_table
GROUP BY alignment, race
ORDER BY mean_power DESC;
'''

In [58]:
pd.read_sql_query(query, engine)

        race alignment    mean_power
0  not-human   Neutral  7.407428e+06
1  not-human      Good  1.980212e+06
2  not-human       Bad  1.117340e+06
3      human      Good  1.124900e+01
4      human       Bad  1.072881e+01
5      human   Neutral  1.010526e+01

In [59]:
query = '''
WITH race_table AS
    (SELECT overall_score, alignment, gender,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not-human' END AS race
    FROM heros)
SELECT
    gender, race, alignment, AVG(overall_score) AS mean_power
FROM race_table
GROUP BY alignment, race, gender
ORDER BY mean_power DESC;
'''

In [60]:
pd.read_sql_query(query, engine)

    gender       race alignment    mean_power
0     None  not-human   Neutral  1.666671e+07
1     None  not-human      Good  1.500001e+07
2   Female  not-human   Neutral  1.428572e+07
3     Male  not-human   Neutral  2.941197e+06
4     Male  not-human      Good  1.639361e+06
5     Male  not-human       Bad  1.449296e+06
6     None  not-human       Bad  3.300000e+01
7   Female  not-human       Bad  1.846667e+01
8     None      human       Bad  1.750000e+01
9     Male      human      Good  1.234637e+01
10  Female      human       Bad  1.120000e+01
11    Male      human       Bad  1.048958e+01
12    Male      human   Neutral  1.032000e+01
13  Female      human   Neutral  1.000000e+01
14    None      human      Good  9.250000e+00
15  Female  not-human      Good  8.580000e+00
16  Female      human      Good  8.393939e+00
17    None      human   Neutral  6.000000e+00

In [61]:
# Export the result as csv files
pd.read_sql_query(query, engine) .to_csv("../data/queries_results/sex_race_meanpower.csv")

### Superpowers

In [62]:
query = '''
WITH race_table AS
    (SELECT *,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not_human' END AS race
    FROM heros)
SELECT
    race, alignment,
    AVG(energy_powers), AVG(matter_powers), AVG(self_powers), AVG(reality_powers), AVG(mind_powers), AVG(resistance_powers),
    AVG(invulnerability), AVG(supersenses), AVG(stamina), AVG(capabilities), AVG(jump_flight), AVG(stealth), AVG(weapons), AVG(speed),
    AVG(strength)
FROM race_table
GROUP BY alignment, race;
'''

In [63]:
pd.read_sql_query(query, engine)

,race,alignment,AVG(energy_powers),AVG(matter_powers),AVG(self_powers),AVG(reality_powers),AVG(mind_powers),AVG(resistance_powers),AVG(invulnerability),AVG(supersenses),AVG(stamina),AVG(capabilities),AVG(jump_flight),AVG(stealth),AVG(weapons),AVG(speed),AVG(strength)
0,human,Good,0.724696,0.311741,0.251012,0.234818,0.627530,0.497976,0.898785,0.238866,1.218623,1.668016,0.352227,0.465587,0.825911,0.291498,0.360324
1,not_human,Good,0.919255,0.344720,0.298137,0.282609,0.577640,0.645963,1.291925,0.403727,1.180124,1.245342,0.447205,0.217391,0.406832,0.413043,0.571429
2,human,Bad,0.554622,0.201681,0.226891,0.268908,0.798319,0.310924,0.848739,0.168067,1.218487,1.537815,0.310924,0.403361,0.890756,0.260504,0.378151
3,not_human,Bad,1.129534,0.497409,0.512953,0.455959,0.699482,0.953368,1.746114,0.414508,1.259067,1.051813,0.435233,0.196891,0.502591,0.404145,0.683938
4,not_human,Neutral,1.259259,0.462963,0.648148,0.796296,0.796296,1.370370,3.222222,0.981481,1.962963,2.259259,0.777778,0.444444,0.777778,0.722222,0.870370
5,human,Neutral,0.594595,0.243243,0.351351,0.297297,0.756757,0.270270,1.000000,0.270270,1.459459,2.243243,0.189189,0.621622,1.324324,0.243243,0.243243

In [64]:
races_superpowers = pd.read_sql_query(query, engine).transpose()
races_superpowers.columns = races_superpowers.iloc[0] + "_" + races_superpowers.iloc[1]
races_superpowers = races_superpowers[2:]
races_superpowers.reset_index(inplace=True)
races_superpowers.rename(columns={"index":"groups_sup"}, inplace=True)
races_superpowers

,groups_sup,human_Good,not_human_Good,human_Bad,not_human_Bad,not_human_Neutral,human_Neutral
0,AVG(energy_powers),0.724696,0.919255,0.554622,1.129534,1.259259,0.594595
1,AVG(matter_powers),0.311741,0.34472,0.201681,0.497409,0.462963,0.243243
2,AVG(self_powers),0.251012,0.298137,0.226891,0.512953,0.648148,0.351351
3,AVG(reality_powers),0.234818,0.282609,0.268908,0.455959,0.796296,0.297297
4,AVG(mind_powers),0.62753,0.57764,0.798319,0.699482,0.796296,0.756757
5,AVG(resistance_powers),0.497976,0.645963,0.310924,0.953368,1.37037,0.27027
6,AVG(invulnerability),0.898785,1.291925,0.848739,1.746114,3.222222,1.0
7,AVG(supersenses),0.238866,0.403727,0.168067,0.414508,0.981481,0.27027
8,AVG(stamina),1.218623,1.180124,1.218487,1.259067,1.962963,1.459459
9,AVG(capabilities),1.668016,1.245342,1.537815,1.051813,2.259259,2.243243
10,AVG(jump_flight),0.352227,0.447205,0.310924,0.435233,0.777778,0.189189
11,AVG(stealth),0.465587,0.217391,0.403361,0.196891,0.444444,0.621622
12,AVG(weapons),0.825911,0.406832,0.890756,0.502591,0.777778,1.324324
13,AVG(speed),0.291498,0.413043,0.260504,0.404145,0.722222,0.243243
14,AVG(strength),0.360324,0.571429,0.378151,0.683938,0.87037,0.243243

In [65]:
races_superpowers.to_csv("../data/queries_results/race_prefered_groups_sup.csv")

In [66]:
races_superpowers.to_sql("races_superpowers", if_exists="replace", con=engine, index=False)

15

In [67]:
query = '''
WITH max AS
    (SELECT
        MAX(human_Good) AS max_humanG,
        MAX(human_Neutral) AS max_humanN,
        MAX(human_Bad) AS max_humanB,
        MAX(not_human_Good) AS max_nothumanG,
        MAX(not_human_Neutral) AS max_nothumanN,
        MAX(not_human_Bad) AS max_nothumanB
    FROM races_superpowers)
SELECT
    races_superpowers.groups_sup, races_superpowers.human_Good, races_superpowers.human_Neutral, races_superpowers.human_Bad,
    races_superpowers.not_human_Good, races_superpowers.not_human_Neutral, races_superpowers.not_human_Bad
FROM races_superpowers
    JOIN max
        ON races_superpowers.human_Good = max.max_humanG
        OR races_superpowers.human_Neutral = max.max_humanN
        OR races_superpowers.human_Bad = max.max_humanB
        OR races_superpowers.not_human_Good = max.max_nothumanG
        OR races_superpowers.not_human_Neutral = max.max_nothumanN
        OR races_superpowers.not_human_Bad = max.max_nothumanB;
'''

In [68]:
pd.read_sql_query(query, engine) # invulnerabilty more common in neutral not-human and villain not-human

,groups_sup,human_Good,human_Neutral,human_Bad,not_human_Good,not_human_Neutral,not_human_Bad
0,AVG(invulnerability),0.898785,1.000000,0.848739,1.291925,3.222222,1.746114
1,AVG(capabilities),1.668016,2.243243,1.537815,1.245342,2.259259,1.051813

In [69]:
# Now race + sex
query = '''
WITH race_table AS
    (SELECT *,
        CASE WHEN type_race LIKE 'Human%%' THEN 'human' ELSE 'not_human' END AS race
    FROM heros)
SELECT
    gender, race, alignment,
    AVG(energy_powers), AVG(matter_powers), AVG(self_powers), AVG(reality_powers), AVG(mind_powers), AVG(resistance_powers),
    AVG(invulnerability), AVG(supersenses), AVG(stamina), AVG(capabilities), AVG(jump_flight), AVG(stealth), AVG(weapons),
    AVG(speed), AVG(strength)
FROM race_table
GROUP BY alignment, race, gender;
'''

In [70]:
pd.read_sql_query(query, engine)

,gender,race,alignment,AVG(energy_powers),AVG(matter_powers),AVG(self_powers),AVG(reality_powers),AVG(mind_powers),AVG(resistance_powers),AVG(invulnerability),AVG(supersenses),AVG(stamina),AVG(capabilities),AVG(jump_flight),AVG(stealth),AVG(weapons),AVG(speed),AVG(strength)
0,Male,human,Good,0.774011,0.372881,0.276836,0.265537,0.644068,0.576271,1.016949,0.254237,1.299435,1.706215,0.350282,0.497175,0.864407,0.305085,0.372881
1,Female,not_human,Good,0.757009,0.186916,0.186916,0.130841,0.317757,0.308411,0.728972,0.280374,0.897196,1.056075,0.392523,0.196262,0.280374,0.355140,0.457944
2,Male,not_human,Good,0.984694,0.408163,0.336735,0.306122,0.688776,0.821429,1.545918,0.479592,1.336735,1.367347,0.464286,0.224490,0.448980,0.443878,0.632653
3,Male,human,Bad,0.597938,0.195876,0.216495,0.278351,0.762887,0.319588,0.896907,0.134021,1.216495,1.422680,0.309278,0.391753,0.876289,0.268041,0.391753
4,Male,not_human,Bad,1.166667,0.500000,0.566667,0.493333,0.746667,0.993333,1.786667,0.413333,1.293333,1.020000,0.440000,0.213333,0.546667,0.393333,0.673333
5,Male,not_human,Neutral,0.911765,0.323529,0.441176,0.647059,0.764706,1.441176,3.647059,1.088235,2.294118,2.411765,0.794118,0.558824,1.029412,0.676471,0.911765
6,Female,human,Good,0.575758,0.151515,0.196970,0.151515,0.606061,0.257576,0.621212,0.212121,1.015152,1.636364,0.318182,0.409091,0.742424,0.257576,0.303030
7,None,human,Neutral,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000,0.000000,3.000000,3.000000,0.000000,0.000000,2.000000,0.000000,0.000000
8,Female,not_human,Bad,0.677419,0.451613,0.387097,0.354839,0.548387,0.806452,1.806452,0.451613,1.258065,1.290323,0.354839,0.193548,0.290323,0.419355,0.741935
9,Female,not_human,Neutral,2.000000,0.642857,0.857143,0.785714,0.714286,0.928571,1.785714,0.714286,1.142857,2.071429,0.714286,0.142857,0.357143,0.785714,0.785714
10,Female,human,Bad,0.300000,0.200000,0.200000,0.200000,0.950000,0.200000,0.550000,0.250000,1.200000,2.050000,0.250000,0.500000,1.000000,0.250000,0.300000
11,None,not_human,Neutral,1.500000,0.833333,1.333333,1.666667,1.166667,2.000000,4.166667,1.000000,2.000000,1.833333,0.833333,0.500000,0.333333,0.833333,0.833333
12,None,not_human,Good,1.157895,0.578947,0.526316,0.894737,0.894737,0.736842,1.842105,0.315789,1.157895,1.052632,0.578947,0.263158,0.684211,0.421053,0.578947
13,Female,human,Neutral,0.333333,0.083333,0.250000,0.333333,0.333333,0.000000,0.750000,0.166667,1.000000,1.916667,0.083333,0.583333,1.250000,0.083333,0.000000
14,Male,human,Neutral,0.750000,0.333333,0.416667,0.291667,0.958333,0.333333,1.125000,0.333333,1.625000,2.375000,0.250000,0.666667,1.333333,0.333333,0.375000
15,None,not_human,Bad,1.833333,0.583333,0.166667,0.250000,0.500000,0.833333,1.083333,0.333333,0.833333,0.833333,0.583333,0.000000,0.500000,0.500000,0.666667
16,None,human,Good,1.000000,0.250000,0.000000,0.250000,0.250000,1.000000,0.250000,0.000000,1.000000,0.500000,1.000000,0.000000,0.500000,0.250000,0.750000
17,None,human,Bad,1.000000,0.500000,1.000000,0.500000,1.000000,1.000000,1.500000,1.000000,1.500000,2.000000,1.000000,0.000000,0.500000,0.000000,0.500000

In [71]:
races_sex_superpowers = pd.read_sql_query(query, engine).transpose()
races_sex_superpowers.columns = races_sex_superpowers.iloc[0] + "_" + races_sex_superpowers.iloc[1] + "_" + races_sex_superpowers.iloc[2]
races_sex_superpowers = races_sex_superpowers[3:]
races_sex_superpowers.reset_index(inplace=True)
races_sex_superpowers = races_sex_superpowers.rename(columns={"index":"groups_sup"})
races_sex_superpowers

,groups_sup,Male_human_Good,Female_not_human_Good,Male_not_human_Good,Male_human_Bad,Male_not_human_Bad,Male_not_human_Neutral,Female_human_Good,NaN,Female_not_human_Bad,Female_not_human_Neutral,Female_human_Bad,NaN,NaN,Female_human_Neutral,Male_human_Neutral,NaN,NaN,NaN
0,AVG(energy_powers),0.774011,0.757009,0.984694,0.597938,1.166667,0.911765,0.575758,0.0,0.677419,2.0,0.3,1.5,1.157895,0.333333,0.75,1.833333,1.0,1.0
1,AVG(matter_powers),0.372881,0.186916,0.408163,0.195876,0.5,0.323529,0.151515,0.0,0.451613,0.642857,0.2,0.833333,0.578947,0.083333,0.333333,0.583333,0.25,0.5
2,AVG(self_powers),0.276836,0.186916,0.336735,0.216495,0.566667,0.441176,0.19697,0.0,0.387097,0.857143,0.2,1.333333,0.526316,0.25,0.416667,0.166667,0.0,1.0
3,AVG(reality_powers),0.265537,0.130841,0.306122,0.278351,0.493333,0.647059,0.151515,0.0,0.354839,0.785714,0.2,1.666667,0.894737,0.333333,0.291667,0.25,0.25,0.5
4,AVG(mind_powers),0.644068,0.317757,0.688776,0.762887,0.746667,0.764706,0.606061,1.0,0.548387,0.714286,0.95,1.166667,0.894737,0.333333,0.958333,0.5,0.25,1.0
5,AVG(resistance_powers),0.576271,0.308411,0.821429,0.319588,0.993333,1.441176,0.257576,2.0,0.806452,0.928571,0.2,2.0,0.736842,0.0,0.333333,0.833333,1.0,1.0
6,AVG(invulnerability),1.016949,0.728972,1.545918,0.896907,1.786667,3.647059,0.621212,1.0,1.806452,1.785714,0.55,4.166667,1.842105,0.75,1.125,1.083333,0.25,1.5
7,AVG(supersenses),0.254237,0.280374,0.479592,0.134021,0.413333,1.088235,0.212121,0.0,0.451613,0.714286,0.25,1.0,0.315789,0.166667,0.333333,0.333333,0.0,1.0
8,AVG(stamina),1.299435,0.897196,1.336735,1.216495,1.293333,2.294118,1.015152,3.0,1.258065,1.142857,1.2,2.0,1.157895,1.0,1.625,0.833333,1.0,1.5
9,AVG(capabilities),1.706215,1.056075,1.367347,1.42268,1.02,2.411765,1.636364,3.0,1.290323,2.071429,2.05,1.833333,1.052632,1.916667,2.375,0.833333,0.5,2.0
10,AVG(jump_flight),0.350282,0.392523,0.464286,0.309278,0.44,0.794118,0.318182,0.0,0.354839,0.714286,0.25,0.833333,0.578947,0.083333,0.25,0.583333,1.0,1.0
11,AVG(stealth),0.497175,0.196262,0.22449,0.391753,0.213333,0.558824,0.409091,0.0,0.193548,0.142857,0.5,0.5,0.263158,0.583333,0.666667,0.0,0.0,0.0
12,AVG(weapons),0.864407,0.280374,0.44898,0.876289,0.546667,1.029412,0.742424,2.0,0.290323,0.357143,1.0,0.333333,0.684211,1.25,1.333333,0.5,0.5,0.5
13,AVG(speed),0.305085,0.35514,0.443878,0.268041,0.393333,0.676471,0.257576,0.0,0.419355,0.785714,0.25,0.833333,0.421053,0.083333,0.333333,0.5,0.25,0.0
14,AVG(strength),0.372881,0.457944,0.632653,0.391753,0.673333,0.911765,0.30303,0.0,0.741935,0.785714,0.3,0.833333,0.578947,0.0,0.375,0.666667,0.75,0.5

In [72]:
races_sex_superpowers.to_csv("../data/queries_results/sex_race_prefered_groups_sup.csv")

In [73]:
races_sex_superpowers.to_sql("races_sex_superpowers", if_exists="replace", con=engine, index=False)

15

In [74]:
query = '''
WITH max AS
(SELECT MAX(Male_human_Good) AS max_maleG,
    MAX(Female_human_Good) AS max_femaleG,
    MAX(Male_human_Neutral) AS max_maleN,
    MAX(Female_human_Neutral) AS max_femaleN,
    MAX(Male_human_Bad) AS max_maleB,
    MAX(Female_human_Bad) AS max_femaleB,
    MAX(Male_not_human_Good) AS max_notmaleG,
    MAX(Female_not_human_Good) AS max_notfemaleG,
    MAX(Male_not_human_Neutral) AS max_notmaleN,
    MAX(Female_not_human_Neutral) AS max_notfemaleN,
    MAX(Male_not_human_Bad) AS max_notmaleB,
    MAX(Female_not_human_Bad) AS max_notfemaleB
    FROM races_sex_superpowers)
SELECT races_sex_superpowers.groups_sup, races_sex_superpowers.Male_human_Good, races_sex_superpowers.Female_human_Good, 
races_sex_superpowers.Male_human_Neutral, races_sex_superpowers.Female_human_Neutral, races_sex_superpowers.Male_human_Bad,
races_sex_superpowers.Female_human_Bad, races_sex_superpowers.Male_not_human_Good, races_sex_superpowers.Female_not_human_Good,
races_sex_superpowers.Male_not_human_Neutral, races_sex_superpowers.Female_not_human_Neutral, races_sex_superpowers.Male_not_human_Bad,
races_sex_superpowers.Female_not_human_Bad
FROM races_sex_superpowers
    JOIN max
        ON races_sex_superpowers.Male_human_Good = max.max_maleG
        OR races_sex_superpowers.Female_human_Good = max.max_femaleG
        OR races_sex_superpowers.Male_human_Neutral = max.max_maleN
        OR races_sex_superpowers.Female_human_Neutral = max.max_femaleN
        OR races_sex_superpowers.Male_human_Bad = max.max_maleB
        OR races_sex_superpowers.Female_human_Bad = max.max_femaleB
        OR races_sex_superpowers.Male_not_human_Good = max.max_notmaleG
        OR races_sex_superpowers.Female_not_human_Good = max.max_notfemaleG
        OR races_sex_superpowers.Male_not_human_Neutral = max.max_notmaleN
        OR races_sex_superpowers.Female_not_human_Neutral = max.max_notfemaleN
        OR races_sex_superpowers.Male_not_human_Bad = max.max_notmaleB
        OR races_sex_superpowers.Female_not_human_Bad = max.max_notfemaleB;
'''

In [75]:
pd.read_sql_query(query, engine) # invulnerability more common in not-human neutral male, followed by not-human neutral female

,groups_sup,Male_human_Good,Female_human_Good,Male_human_Neutral,Female_human_Neutral,Male_human_Bad,Female_human_Bad,Male_not_human_Good,Female_not_human_Good,Male_not_human_Neutral,Female_not_human_Neutral,Male_not_human_Bad,Female_not_human_Bad
0,AVG(invulnerability),1.016949,0.621212,1.125,0.750000,0.896907,0.55,1.545918,0.728972,3.647059,1.785714,1.786667,1.806452
1,AVG(capabilities),1.706215,1.636364,2.375,1.916667,1.422680,2.05,1.367347,1.056075,2.411765,2.071429,1.020000,1.290323